<nav class="navbar navbar-dark bg-inverse">
<a class="navbar-brand" href="#">Curso</a>
  <ul class="nav navbar-nav">
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="welcome">Inicio</a>
    </li>
    <li  routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="productos">Productos</a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link"  routerLink="tdf">TDForm</a>
    </li>
    <li  routerLinkActive="active" class="nav-item">
      <a class="nav-link"  routerLink="mdf">MDForm</a>
    </li>
  </ul>
</nav>
