<p>
  productos-listado works!
</p>

<table class="table table-borderer table-striped">
  <thead>
  <tr>
    <th>id</th>
    <th>codigo</th>
    <th>descripcion</th>
    <th>precio</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let producto of productos">
    <td>{{producto.id}}</td>
    <td>{{producto.codigo}}</td>
    <td>{{producto.nombre}}</td>
    <td>{{producto.precio}}</td>
    <td><a href="#" [routerLink]="[producto.id]" class="btn btn-primary">editar</a></td>
  </tr>
  </tbody>

</table>

<a href="#" [routerLink]="[12]">Producto 12</a>
