<!--<h1>{{ title }}</h1>
<h2>{{ name }}</h2>
<div *ngIf="show">
  <p>OCULTAR</p>
</div>
<button (click)="onShow()">{{btnTitle}}</button>
<button (click)="onShow()">{{show ? 'ocultar' : 'mostrar'}}</button>

<div *ngFor="let item of items; let i = index">
  <div [ngClass]="ponerEstilo(i)">
    <span [ngStyle]="{'font-size': setStyle(i)}">{{item}}</span> <span>{{i}}</span>
    <button (click)="quitarItem(i)">Quitar</button>
    <button (click)="seleccionarItem(i)">Seleccionar</button>
  </div>
</div>
<button (click)="agregaItems()" [ngStyle]="estilo">Agregar</button>

<div [ngSwitch]="itemSeleccionado">
  <span *ngSwitchCase="0">{{items[itemSeleccionado]}} CERO</span>
  <span *ngSwitchCase="1">{{items[itemSeleccionado]}} UNO</span>
  <span *ngSwitchCase="2">{{items[itemSeleccionado]}} DOS</span>
  <span *ngSwitchCase="3">{{items[itemSeleccionado]}} TTRES</span>
</div>-->

<!--<app-td-form></app-td-form>


<hr/>

<app-mdform></app-mdform>

<ngb-datepicker> </ngb-datepicker>
<hr/>

<div class="alert alert-danger"><p>Danger</p></div>
<hr/>
<ngb-alert [type]="'danger'">Alert</ngb-alert>-->
<app-navbar></app-navbar>

<br />
<div class="container-fluid">

  <div class="row">

    <router-outlet></router-outlet>

  </div>

</div>



