

<h1>Template Drive Form</h1>
<form #form="ngForm" (submit)="onSubmit(form.value)">

  <div>
    <label>nombre</label>
    <input type="text" #nombreRef required minlength="4" name="nombre" ngModel />

    <span>{{nombreRef.className}}</span>
  </div>

  <div>
    <label>apellido</label>

    <input type="text" #apellidoRef="ngModel" required minlength="4"
           name="apellido" ngModel />



    <div *ngIf="apellidoRef.errors && (apellidoRef.touched || apellidoRef.dirty)">
      <label [hidden]="!apellidoRef.errors.required">
        apellido  es requerido
      </label>

      <label [hidden]="!apellidoRef.errors.minlength">
        debe tener al menos 4 digitos
      </label>

    </div>
  </div>

  <div>
    <label>dirección</label>
    <input type="text" name="direccion" ngModel />
  </div>

  <div>
    <button type="submit" [disabled]="!form.valid">Enviar</button>
  </div>

</form>
