<h1>Model Drive Form</h1>
<form [formGroup]="form" (submit)="onSubmit()" novalidate >

  <div>
    <label>nombre</label>
    <input type="text" formControlName="nombre"  />

    <div *ngIf="form.controls['nombre'].hasError('required')">
      incorrecto requerido !
    </div>
    <div *ngIf="form.controls['nombre'].hasError('minlength')">
      incorrecto minLength !
    </div>
    <div *ngIf="form.controls['nombre'].hasError('filtraNombre')">
      Nombre no puede ser memo
    </div>


  </div>

  <div>
    <label>apellido</label>
    <input type="text" formControlName="apellido"  />
  </div>

  <div>
    <label>direccion</label>
    <input type="text" formControlName="direccion"  />
  </div>

  <div>
    <button type="submit" >Enviar</button>
  </div>

</form>
