#contenedor{
  margin-left: 200px;
}
input.ng-valid{
  border-left: 4px solid green;
}

input.ng-invalid{
  border-left: 4px solid red;
}

input.ng-untouched.ng-pristine.ng-invalid{

  border-left: 1px;

}
